<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="AMedinaProgramacionNCapas" connectionString="Data Source=.;Initial Catalog=AMedinaProgramacionNCapas;Persist Security Info=True;User ID=sa;Password=pass@word1" />
	  <add name="AMedinaProgramacionNCapasEntities1" connectionString="metadata=res://*/AMedinaProgramacionNCapas.csdl|res://*/AMedinaProgramacionNCapas.ssdl|res://*/AMedinaProgramacionNCapas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AMedinaProgramacionNCapas;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOperaciones" />
        <binding name="BasicHttpBinding_IUsuario" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52838/Operaciones.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOperaciones" contract="ServiceOperaciones.IOperaciones"
        name="BasicHttpBinding_IOperaciones" />
      <endpoint address="http://localhost:52838/Usuario.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUsuario" contract="ServiceReferenceUsuario.IUsuario"
        name="BasicHttpBinding_IUsuario" />
    </client>
  </system.serviceModel>
</configuration>